<<<<<<< HEAD
body, h1 ,h2, h3, h4, h5, h6, p {
	font-family: 'PT Sans Narrow', sans-serif;
}
.op-active {
	background-color: #bfbfbf;
}
/* CSS DA PARTE DE ENCOMENDAS */
#regForm {
  background-color: #ffffff;
  margin: 100px auto;
  font-family: Raleway;
  padding: 40px;
  width: 50%;
  min-width: 300px;
}
h1.encomendass {
  text-align: center;  
}
input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

input.invalid {
  background-color: #ffdddd;
}

.tab {
  display: none;
}
button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}
button:hover {
  opacity: 0.8;
}
#prevBtn {
  background-color: #bbbbbb;
  color:white;
}
#nextBtn {
	color:white;
}
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #999;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}
.step.active {
  opacity: 1;
}

.step.finish {
  background-color: #ccc;
}
select {
	padding: 10px;
  	width: 100%;
  	font-size: 17px;
  	font-family: Raleway;
  	border: 1px solid #aaaaaa;
}

/*FIM DO CSS DA PARTE DE ENCOMENDAS */


/* css do lobby.php */


.dropbtn {
    background-color: #666;
    color: white;
    padding: 18px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: inherit;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: inherit;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  color: black;
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #666;
}

@media screen and(max-width: 900px){
  div p.op-bv {
    visibility: hidden;
  }
}

/* sidebar menu */

.op-sb-top {
  position: relative;
  top:58px;
  float: left;
}

.op-sidebar {
  background-color: #ddd !important;
}
.op-bar-item:hover {
  background-color: #999 !important;
  text-decoration: none;
}
.op-active {
  background-color: #666 !important;
}

a.op-bar-item i.fa img {
  position: relative; 
  top: -5px;
}

/* Inicio do estilo da página contas.php */
  .op-float-left {
    float: left;
    width: 45%;
  }
  @media screen and (max-width: 870px) {
    .op-float-left {
      width: 100%;
    }
  }
  div.op-top-text {
    position: relative;
    top: 50px;
    p{
      float: left;
      font-size: 18pt;
    }
    div.op-img-top {
      background-image: url("../../Image/icons/bills-to-pay.png");
      background-size: 30px 30px;
      background-repeat: no-repeat;
      float: left;
      width: 10%;
      height: 30px;
    }
    
  }
  
  hr#op-hr-1 {
    position: relative;
    top: 80px;
    width: 95%;
  }

  /* Mega Menu responsivo */

  /* Navbar container */
.navbar1 {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar1 a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown2 {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown2 .dropbtn2 {
  font-size: 16px; 
  border: none;
  outline: none;
  color: red;
  padding: 14px 16px;
  background-color: inherit;
}

/* Add a red background color to navbar links on hover */
.navbar1 a:hover, .dropdown2:hover .dropbtn2 {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: red;
  width: 100%;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Mega Menu header, if needed */
.dropdown-content2 .header1 {
  background: red;
  padding: 16px;
  color: white;
}

/* Show the dropdown menu on hover */
.dropdown2:hover .dropdown-content2 {
  display: block;
}

/* Create three equal columns that floats next to each other */
.column1 {
  float: left;
  width: 33.33%;
  padding: 10px;
  background-color: #ccc;
  height: 250px;
}

/* Style links inside the columns */
.column1 a {
  float: none;
  color: black;
  padding: 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a background color on hover */
.column1 a:hover {
  background-color: #ddd;
}

/* Clear floats after the columns */
.row1:after {
  content: "";
  display: table;
  clear: both;
}

  /* tabela do contas.php */

  #entrada {
    background-image: url('../../Image/icons/search.png'); 
    background-position: 10px 12px; 
    background-repeat: no-repeat; 
    width: 95%; 
    font-size: 16px; 
    padding: 12px 20px 12px 40px; 
    border: 1px solid #333; 
    margin-bottom: 12px; 
}

#tabela {
    border-collapse: collapse; 
    width: 95%; 
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    font-size: 18px; 
}

#tabela th, #tabela td {
    text-align: left;
    padding: 12px; 
}

#tabela tr {
    
}
#tabela tr.op-tb-ultimo {
  border-bottom: 1px solid #333;
}

#tabela tr.header {
    background-color: #333;
    color: white;
    
}
#tabela td:hover, tr:hover {
      background-color: #666;
      color: white;
    }
 #tabela tr:hover {}
.op-tb-search {
  position: relative;
  top: 80px;
  .op-tb-cadastro {
    position: relative;
    form.op-form-cadastro-contas {
      position: relative;
      top: 10px;
      input[type=text]{
      width: 95%;
      border:1px solid #333;
      }
    legend {
      width: 95%;
      font-size: 12pt;
    }
    input[type=submit]{
      width: 20% !important;
      background-color: #333;
      color: white;
      font-weight: bold;
      border:1px solid #333;
      &:hover {
        background-color:rgba(0,0,0,.9);
        }
      }
    }
  }
}

@media screen and (max-width: 720px){
  #entrada {
    width: 100%;
  }
  #tabela {
    width: 100%;
  }
  .op-tb-search {
    .op-tb-cadastro {
      form.op-form-cadastro-contas {
        input[type=text]{
        width: 100%;
        }
      legend {
        width: 100%;
      }
      input[type=submit]{
        width: 50% !important;
        }
      }
    }
  }
}

.op-aside {
  width: 50%;
  float: left;
  position: relative;
  top: 50px;
  p{
      float: left;
      font-size: 18pt;
    }
    div.op-img-top {
      background-image: url("../../Image/icons/checked.png");
      background-size: 30px 30px;
      background-repeat: no-repeat;
      float: left;
      width: 10%;
      height: 30px;
    }
}

hr#op-hr-2 {
    position: relative;
    top: 30px;
  }
.op-lists {
    position:relative;
    top: 46px;
    width:80%;
}
  #minhaEntrada {
    background-image: url('../../Image/icons/search.png'); 
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px; 
    padding: 12px 20px 12px 40px; 
    border: 1px solid #333; 
    margin-bottom: 12px; 
}


#minhaUl {
    
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#minhaUl li a {
    border: 1px solid #ddd;
    margin-top: -1px; 
    background-color: #f6f6f6; 
    padding: 12px; 
    text-decoration: none; 
    font-size: 18px; 
    color: black; 
    display: block; 
}

#minhaUl li a:hover:not(.header) {
    background-color: #eee; 
}


@media screen and (max-width:870px){
  .op-aside {
    position:relative;
    top: 200px;
  }
}
/* Inicio da estilização do preenchimento do lobby */

div.preenchimento {
  width:81.6%;
  position:relative;
  float:right;
  top: 58px;
}

/* Inicio da estilização da página estoque.php */

div.op-top-text2 {
    position: relative;
    top: 50px;
    width:100%;
    p{
      float: left;
      font-size: 18pt;
    }
    div.op-img-top2 {
      background-image: url("../../Image/icons/stock2.png");
      background-size: 30px 30px;
      background-repeat: no-repeat;
      float: left;
      width: 10%;
      height: 30px;
    }
    
  }

   /* tabela do estoque.php */

  #entrada2 {
    background-image: url('../../Image/icons/search.png'); 
    background-position: 10px 12px; 
    background-repeat: no-repeat; 
    width: 60%; 
    font-size: 16px; 
    padding: 12px 20px 12px 40px; 
    border: 1px solid #333; 
    margin-bottom: 12px; 
}

#tabela2 {
    border-collapse: collapse; 
    width: 80%; 
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    font-size: 18px; 
}

#tabela2 th, #tabela2 td {
    text-align: left;
    padding: 12px; 
}
#tabela2 td.delete {
    background-image: url('../../Image/icons/delete1.png'); 
    background-position: 10px 12px; 
    background-size: 30px 30px;
    background-repeat: no-repeat;
    &:hover {
      background-image: url('../../Image/icons/delete2.png');
    } 
}


#tabela2 tr.op-tb-ultimo {
  border-bottom: 1px solid #333;
}

#tabela2 tr.header2 {
    background-color: #333;
    color: white;
    
}
#tabela2 td:hover, tr:hover {
      background-color: #666;
      color: white;
    }
 #tabela2 tr:hover {}


@media screen and (max-width: 720px){
  #entrada2 {
    width: 100%;
  }
  #tabela2 {
    width: 100%;
  }
=======
body, h1 ,h2, h3, h4, h5, h6, p {
	font-family: 'PT Sans Narrow', sans-serif;
}
.op-active {
	background-color: #bfbfbf;
}
/* CSS DA PARTE DE ENCOMENDAS */
#regForm {
  background-color: #ffffff;
  margin: 100px auto;
  font-family: Raleway;
  padding: 40px;
  width: 50%;
  min-width: 300px;
}
h1.encomendass {
  text-align: center;  
}
input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

input.invalid {
  background-color: #ffdddd;
}

.tab {
  display: none;
}
button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}
button:hover {
  opacity: 0.8;
}
#prevBtn {
  background-color: #bbbbbb;
  color:white;
}
#nextBtn {
	color:white;
}
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #999;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}
.step.active {
  opacity: 1;
}

.step.finish {
  background-color: #ccc;
}
select {
	padding: 10px;
  	width: 100%;
  	font-size: 17px;
  	font-family: Raleway;
  	border: 1px solid #aaaaaa;
}

/*FIM DO CSS DA PARTE DE ENCOMENDAS */


/* css do lobby.php */


.dropbtn {
    background-color: #666;
    color: white;
    padding: 18px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: inherit;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: inherit;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  color: black;
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #666;
}

@media screen and(max-width: 900px){
  div p.op-bv {
    visibility: hidden;
  }
}

/* sidebar menu */

.op-sb-top {
  position: relative;
  top:58px;
  float: left;
}

.op-sidebar {
  background-color: #ddd !important;
}
.op-bar-item:hover {
  background-color: #999 !important;
  text-decoration: none;
}
.op-active {
  background-color: #666 !important;
}

a.op-bar-item i.fa img {
  position: relative; 
  top: -5px;
}

/* Inicio do estilo da página contas.php */
  .op-float-left {
    float: left;
    width: 45%;
  }
  @media screen and (max-width: 870px) {
    .op-float-left {
      width: 100%;
    }
  }
  div.op-top-text {
    position: relative;
    top: 50px;
    p{
      float: left;
      font-size: 18pt;
    }
    div.op-img-top {
      background-image: url("../../Image/icons/bills-to-pay.png");
      background-size: 30px 30px;
      background-repeat: no-repeat;
      float: left;
      width: 10%;
      height: 30px;
    }
  }
  
  hr#op-hr-1 {
    position: relative;
    top: 80px;
    width: 95%;
  }

  /* tabela do contas.php */

  #entrada {
    background-image: url('../../Image/icons/search.png'); 
    background-position: 10px 12px; 
    background-repeat: no-repeat; 
    width: 95%; 
    font-size: 16px; 
    padding: 12px 20px 12px 40px; 
    border: 1px solid #333; 
    margin-bottom: 12px; 
}

#tabela {
    border-collapse: collapse; 
    width: 95%; 
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    font-size: 18px; 
}

#tabela th, #tabela td {
    text-align: left;
    padding: 12px; 
}

#tabela tr {
    
}
#tabela tr.op-tb-ultimo {
  border-bottom: 1px solid #333;
}

#tabela tr.header {
    background-color: #333;
    color: white;
    
}
#tabela td:hover, tr:hover {
      background-color: #666;
      color: white;
    }
 #tabela tr:hover {}
.op-tb-search {
  position: relative;
  top: 80px;
  .op-tb-cadastro {
    position: relative;
    form.op-form-cadastro-contas {
      position: relative;
      top: 10px;
      input[type=text]{
      width: 95%;
      border:1px solid #333;
      }
    legend {
      width: 95%;
      font-size: 12pt;
    }
    input[type=submit]{
      width: 20% !important;
      background-color: #333;
      color: white;
      font-weight: bold;
      border:1px solid #333;
      &:hover {
        background-color:rgba(0,0,0,.9);
        }
      }
    }
  }
}

@media screen and (max-width: 720px){
  #entrada {
    width: 100%;
  }
  #tabela {
    width: 100%;
  }
  .op-tb-search {
    .op-tb-cadastro {
      form.op-form-cadastro-contas {
        input[type=text]{
        width: 100%;
        }
      legend {
        width: 100%;
      }
      input[type=submit]{
        width: 50% !important;
        }
      }
    }
  }
}

.op-aside {
  width: 50%;
  float: left;
  position: relative;
  top: 50px;
  p{
      float: left;
      font-size: 18pt;
    }
    div.op-img-top {
      background-image: url("../../Image/icons/checked.png");
      background-size: 30px 30px;
      background-repeat: no-repeat;
      float: left;
      width: 10%;
      height: 30px;
    }
}

hr#op-hr-2 {
    position: relative;
    top: 30px;
  }
.op-lists {
    position:relative;
    top: 46px;
    width:80%;
}
  #minhaEntrada {
    background-image: url('../../Image/icons/search.png'); 
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px; 
    padding: 12px 20px 12px 40px; 
    border: 1px solid #333; 
    margin-bottom: 12px; 
}


#minhaUl {
    
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#minhaUl li a {
    border: 1px solid #ddd;
    margin-top: -1px; 
    background-color: #f6f6f6; 
    padding: 12px; 
    text-decoration: none; 
    font-size: 18px; 
    color: black; 
    display: block; 
}

#minhaUl li a:hover:not(.header) {
    background-color: #eee; 
}


@media screen and (max-width:870px){
  .op-aside {
    position:relative;
    top: 200px;
  }
}
/* Inicio da estilização do preenchimento do lobby */

div.preenchimento {
  width:81.6%;
  position:relative;
  float:right;
  top: 58px;
}
.teste {
  width: 100px;
  height: 100px;
  background-color: #ccc;
>>>>>>> deebd84065b2dbb1b45d2e29b903c973458f2457
}