.op-top {
	box-shadow: 0 0 4px 0 rgba(0,0,0,.6) !important;
}
.op-color {
	background-color: #999 !important;
}
.op-sbar {
	display:none;
	z-index:2;
	width:40%;
	min-width:300px;
}
.op-dms {
	max-width:1200px;
	margin:auto;
}

.op-w100 {
	position: absolute;
	width: 100%;
	left: -150;
}


