<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br">
	<head>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link type="text/css" rel="stylesheet" href="../../Public/Css/Css/style.css" media="all">
		<link type="text/css" rel="stylesheet" href="../../Public/Css/Css/op.css" media="all">
		<link type="text/css" rel="stylesheet" href="../../Public/Css/Css/plugins.css" media="all">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
		<title>Index</title>

	</head>

	<body style="font-family: Karma sans-serif">
		<!-- Sidebar (hidden por default) -->
		<nav class="op-sidebar op-bar-block op-card-2 op-top op-xlarge op-animate-left" style="display:none;z-index:2;width:40%;min-width:300px" id="mySidebar">
		  <a href="javascript:void(0)" onclick="w3_close()"
		  class="op-bar-item op-button">Close Menu</a>
		  <a href="#food" onclick="w3_close()" class="op-bar-item op-button">Food</a>
		  <a href="#about" onclick="w3_close()" class="op-bar-item op-button">About</a>
		</nav>

		<!-- Menu do topo -->
		<div class="op-top">
		  <div class="op-white op-xlarge" style="max-width:1200px;margin:auto">
		    <div class="op-button op-padding-16 op-left" onclick="w3_open()">☰</div>
		    <div class="op-right op-padding-16">ADM</div>
		    <div class="op-center op-padding-16">LOGOTIPO</div>
		  </div>
		</div>

		<!-- Conteúdo da página -->
		<div class="op-main op-content op-padding" style="max-width:1200px;margin-top:100px">

		  <!-- First Photo Grid-->
		  <div class="op-row-padding op-padding-16 op-center" id="food">
		    <div class="op-quarter">
		      <img src="../../Public/Image/img-art.png" alt="Sandwich" style="width:220; height: 400px">
		      <h3>Lorem Ipsum dolor sit amet</h3>
		      <p>Lorem Ipsum dolor sit amet, lorem ipsum text praesent tincidunt ipsum lipsum.</p>
		    </div>
		    <div class="op-quarter">
		      <img src="../../Public/Image/img-art.png" alt="Sandwich" style="width:220; height: 400px">
		      <h3>Lorem Ipsum dolor sit amet</h3>
		      <p>Lorem Ipsum dolor sit amet, some random text to lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
		    </div>
		    <div class="op-quarter">
		      <img src="../../Public/Image/img-art.png" alt="Sandwich" style="width:220; height: 400px">
		      <h3>Lorem Ipsum dolor sit amet</h3>
		      <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
		      <p>Lorem Ipsum dolor sit amet</p>
		    </div>
		    <div class="op-quarter">
		      <img src="../../Public/Image/img-art.png" alt="Sandwich" style="width:220; height: 400px">
		      <h3>Lorem Ipsum dolor sit amet</h3>
		      <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
		    </div>
		  </div>
		  

		  <!-- Pagination -->
		  <div class="op-center op-padding-32">
		    <div class="op-bar">
		      <a href="#" class="op-bar-item op-button op-hover-black">«</a>
		      <a href="#" class="op-bar-item op-black op-button">1</a>
		      <a href="#" class="op-bar-item op-button op-hover-black">2</a>
		      <a href="#" class="op-bar-item op-button op-hover-black">3</a>
		      <a href="#" class="op-bar-item op-button op-hover-black">4</a>
		      <a href="#" class="op-bar-item op-button op-hover-black">»</a>
		    </div>
		  </div>
		  
		  <hr id="about">

		  <!-- Seção sobre -->
		  <div class="op-container op-padding-32 op-center">  
		    <h3>Sobre a empresa @@@@@@@@@</h3><br>
		    <img src="../../Public/Image/img-empresa.png" alt="Me" class="op-image" style="display:block;margin:auto" width="460" height="532">
		    <div class="op-padding-32">
		      <h4><b>Lorem Ipsum dolor sit amet</b></h4>
		      <h6><i>Lorem Ipsum dolor sit amet, Lorem Ipsum dolor sit amet</i></h6>
		      <p>Lorem Ipsum dolor sit amet, Lorem Ipsum dolor sit amet Lorem Ipsum dolor sit amet Lorem Ipsum dolor sit amet, Lorem Ipsum dolor sit amet , Lorem Ipsum dolor sit ametLorem Ipsum dolor sit amet Lorem Ipsum dolor sit amet, Lorem Ipsum dolor sit amet, Lorem Ipsum dolor sit amet, Lorem Ipsum dolor sit amet Lorem Ipsum dolor sit amet Lorem Ipsum dolor sit amet Lorem Ipsum dolor sit amet.</p>
		    </div>
		  </div>
		  <hr>
		  
		  <!-- Rodapé -->
		  <footer class="op-row-padding op-padding-32">
		    <div class="op-third">
		      <h3>Contate-nos</h3>
		      <div class="row">
		      	<div class="col-lg-11">
		      		<div class="input-group">
		      			<input type="email" class="form-control" placeholder="Digite seu email" />
		      			<span class="input-group-btn">
		      				<button class="btn btn-default" type="button">Enviar</button>
		      			</span>
		      		</div>
		      	</div>
		      </div>
		      <br />
		      <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
		      <p>Desenvolvido por <a href="#" target="_blank">NOMES</a></p>
		    </div>
		  
		    <div class="op-third">
		      <h3>Nossas redes sociais</h3>
		      <ul class="op-ul op-hoverable">
		        <li class="op-padding-16">
		          <img src="../../Public/Image/icons/fb.png" class="op-left op-margin-right" style="width:50px">
		          <span class="op-large">Facebook.com/minhaempresa</span><br>
		          <span>Curta nossa página no Facebook</span>
		        </li>
		        <li class="op-padding-16">
		          <img src="../../Public/Image/icons/yt.png" class="op-left op-margin-right" style="width:50px">
		          <span class="op-large">Youtube.com/minhaempresa</span><br>
		          <span>Se inscreva no nosso canal</span>
		        </li> 
		      </ul>
		    </div>

		    <div class="op-third op-serif">
		      <h3>Os mais pedidos</h3>
		      <p>
		        <span class="op-tag op-black op-margin-bottom">Item1</span> 
		        <span class="op-tag op-dark-grey op-small op-margin-bottom">Item1</span> 
		        <span class="op-tag op-dark-grey op-small op-margin-bottom">Item2</span>
		        <span class="op-tag op-dark-grey op-small op-margin-bottom">Item3</span> 
		        <span class="op-tag op-dark-grey op-small op-margin-bottom">Item4</span> 
		        <span class="op-tag op-dark-grey op-small op-margin-bottom">Item5</span>
		        <span class="op-tag op-dark-grey op-small op-margin-bottom">Item6</span> 
		        <span class="op-tag op-dark-grey op-small op-margin-bottom">Item7</span> 
		        <span class="op-tag op-dark-grey op-small op-margin-bottom">Item8</span>
		        <span class="op-tag op-dark-grey op-small op-margin-bottom">Item9</span> 
		        <span class="op-tag op-dark-grey op-small op-margin-bottom">Item10</span> 
		        <span class="op-tag op-dark-grey op-small op-margin-bottom">Item11</span>
		        <span class="op-tag op-dark-grey op-small op-margin-bottom">Item12</span> 
		        <span class="op-tag op-dark-grey op-small op-margin-bottom">Item13</span>
		      </p>
		    </div>
		  </footer>

		<!-- Fim do conteúdo da página -->
		</div>
		
		<script type="text/javascript">
			// Script para abrir e fechar a sidebar
			function op_open() {
			    document.getElementById("mySidebar").style.display = "block";
			}
			 
			function op_close() {
			    document.getElementById("mySidebar").style.display = "none";
			}
		</script>
		<script type="text/javascript" src="../../Public/Js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="../../Public/Js/bootstrap.min.js"></script>
	</body>
</html>