<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link type="text/css" rel="stylesheet" href="../../Css/Css/op.css" media="all">
		<link type="text/css" rel="stylesheet" href="../../Css/Css/style.css" media="all">
		<link type="text/css" rel="stylesheet" href="../../Css/Css/plugins.css" media="all">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
		<title>Index</title>

	</head>

	<body style="font-family: Karma sans-serif">
		<!-- Sidebar (hidden por default) -->
		<nav class="op-sidebar op-bar-block op-card-2 op-top op-xlarge op-animate-left op-sbar" id="mySidebar">
		  <a href="javascript:void(0)" onclick="op_close()"
		  class="op-bar-item op-button">Fechar Menu</a>
		  <a href="#" onclick="op_close()" class="op-bar-item op-button">Encomendar</a>
		  <a href="#sobre" onclick="op_close()" class="op-bar-item op-button">Sobre</a>
		  <a href="#" onclick="op_close()" class="op-bar-item op-button">Administrativo</a>
		</nav>

		<!-- Menu do topo -->
		<div class="op-top">
		  <div class="op-white op-xlarge op-dms">
		    <div class="op-button op-padding-16 op-left" onclick="op_open()">☰</div>
		    <div class="op-center op-padding-16">LOGOTIPO</div>
		  </div>
		</div>

		<!-- Conteúdo da página -->
		<div class="op-main op-content op-padding" style="max-width:1200px;margin-top:100px">

		  <!-- First Photo Grid-->
		  <div class="op-row-padding op-padding-16 op-center" id="food">
		    <div class="op-quarter">
		      <img src="../../Image/img-art.png" alt="Sandwich" style="width:220; height: 400px">
		      <h3 >Lorem Ipsum dolor sit amet</h3>
		      <p>Lorem Ipsum dolor sit amet, lorem ipsum text praesent tincidunt ipsum lipsum.</p>
		    </div>
		    <div class="op-quarter">
		      <img src="../../Image/img-art.png" alt="Sandwich" style="width:220; height: 400px">
		      <h3>Lorem Ipsum dolor sit amet</h3>
		      <p>Lorem Ipsum dolor sit amet, some random text to lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
		    </div>
		    <div class="op-quarter">
		      <img src="../../Image/img-art.png" alt="Sandwich" style="width:220; height: 400px">
		      <h3>Lorem Ipsum dolor sit amet</h3>
		      <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
		      <p>Lorem Ipsum dolor sit amet</p>
		    </div>
		    <div class="op-quarter">
		      <img src="../../Image/img-art.png" alt="Sandwich" style="width:220; height: 400px">
		      <h3>Lorem Ipsum dolor sit amet</h3>
		      <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
		    </div>
		  </div>
		  

		  <!-- Pagination -->
		  <div class="op-center op-padding-32">
		    <div class="op-bar">
		      <a href="#" class="op-bar-item op-button op-hover-red">«</a>
		      <a href="#" class="op-bar-item op-red op-button">1</a>
		      <a href="#" class="op-bar-item op-button op-hover-red">2</a>
		      <a href="#" class="op-bar-item op-button op-hover-red">3</a>
		      <a href="#" class="op-bar-item op-button op-hover-red">4</a>
		      <a href="#" class="op-bar-item op-button op-hover-red">»</a>
		    </div>
		  </div>
		  
		  <hr id="sobre">

		  <!-- Seção sobre -->
		  <div class="op-container op-padding-32 op-center">  
		    <h3>Sobre a empresa @@@@@@@@@</h3><br>
		    <img src="../../Image/img-empresa.png" alt="Me" class="op-image" style="display:block;margin:auto" width="460" height="532">
		    <div class="op-padding-32">
		      <h4><b>Lorem Ipsum dolor sit amet</b></h4>
		      <h6><i>Lorem Ipsum dolor sit amet, Lorem Ipsum dolor sit amet</i></h6>
		      <p>Lorem Ipsum dolor sit amet, Lorem Ipsum dolor sit amet Lorem Ipsum dolor sit amet Lorem Ipsum dolor sit amet, Lorem Ipsum dolor sit amet , Lorem Ipsum dolor sit ametLorem Ipsum dolor sit amet Lorem Ipsum dolor sit amet, Lorem Ipsum dolor sit amet, Lorem Ipsum dolor sit amet, Lorem Ipsum dolor sit amet Lorem Ipsum dolor sit amet Lorem Ipsum dolor sit amet Lorem Ipsum dolor sit amet.</p>
		    </div>
		  </div>
		  <hr>
		  
		  <!-- Rodapé -->
		  <footer class="op-row-padding op-padding-32">
		    <div class="op-third">
		      <h3>Contate-nos</h3>
		      <div class="row">
		      	<div class="col-lg-11">
		      		<div class="input-group">
		      			<input type="email" class="form-control" placeholder="Digite seu email" />
		      			<span class="input-group-btn">
		      				<button class="btn btn-default op-btn-stz" type="button">Enviar</button>
		      			</span>
		      		</div>
		      	</div>
		      </div>
		      <br />
		      <p>Deixe seu email cadastrado para receber promoções e descontos da nossa loja.</p>
		      <p>Fique tranquilo, também não gostamos de spam :)</p>
		      <p>Desenvolvido por <a href="#" target="_blank" class="op-red">NOME 1</a>, <a href="#" target="_blank" class="op-red">NOME 2</a></p>
		    </div>
		  
		    <div class="op-third">
		      <h3>Nossas redes sociais</h3>
		      <ul class="op-ul op-hoverable op-ho-red">
		        <li class="op-padding-16">
		          <a class="op-a-down" href="#">
		          	<img src="../../Image/icons/fb.png" class="op-left op-margin-right" style="width:50px">
		         	<span class="op-large">Facebook.com/minhaempresa</span><br>
		          	<span>Curta nossa página no Facebook</span>
		          </a>
		        </li>
		        <li class="op-padding-16">
		          <a class="op-a-down" href="#">
		          	<img src="../../Image/icons/yt.png" class="op-left op-margin-right" style="width:50px">
		          	<span class="op-large">Youtube.com/minhaempresa</span><br>
		          	<span>Se inscreva no nosso canal</span>
		          </a>
		        </li> 
		      </ul>
		    </div>

		    <div class="op-third op-serif">
		      <h3>Os mais pedidos</h3>
		      <p>
		        <span class="op-tag op-red op-margin-bottom">Item1</span> 
		        <span class="op-tag op-dark-grey op-small op-margin-bottom">Item1</span> 
		        <span class="op-tag op-dark-grey op-small op-margin-bottom">Item2</span>
		        <span class="op-tag op-dark-grey op-small op-margin-bottom">Item3</span> 
		        <span class="op-tag op-dark-grey op-small op-margin-bottom">Item4</span> 
		        <span class="op-tag op-dark-grey op-small op-margin-bottom">Item5</span>
		        <span class="op-tag op-dark-grey op-small op-margin-bottom">Item6</span> 
		        <span class="op-tag op-dark-grey op-small op-margin-bottom">Item7</span> 
		        <span class="op-tag op-dark-grey op-small op-margin-bottom">Item8</span>
		        <span class="op-tag op-dark-grey op-small op-margin-bottom">Item9</span> 
		        <span class="op-tag op-dark-grey op-small op-margin-bottom">Item10</span> 
		        <span class="op-tag op-dark-grey op-small op-margin-bottom">Item11</span>
		        <span class="op-tag op-dark-grey op-small op-margin-bottom">Item12</span> 
		        <span class="op-tag op-dark-grey op-small op-margin-bottom">Item13</span>
		      </p>
		    </div>
		  </footer>

		<!-- Fim do conteúdo da página -->
		</div>
		
		<script type="text/javascript">
			// Script para abrir e fechar a sidebar
			function op_open() {
			    document.getElementById("mySidebar").style.display = "block";
			}
			 
			function op_close() {
			    document.getElementById("mySidebar").style.display = "none";
			}
		</script>
		<script type="text/javascript" src="../../Js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="../../Js/bootstrap.min.js"></script>
	</body>
</html>