<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br">
	<head>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link type="text/css" rel="stylesheet" href="../../Public/Css/Css/style.css" media="all">
		<link type="text/css" rel="stylesheet" href="../../Public/Css/Css/op.css" media="all">
		<link type="text/css" rel="stylesheet" href="../../Public/Css/Css/plugins.css" media="all">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
		<title>Index</title>

	</head>

	<body style="font-family: Karma sans-serif">
		
		<script type="text/javascript" src="../../Public/Js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="../../Public/Js/bootstrap.min.js"></script>
	</body>
</html>